h1 {
    position: absolute;
    width: 580px;
    height: 100px;
    left: 170px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 145px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    }
.analyzing_charts {
position: absolute;
width: 400px;
height: 400px;
left: 110px;
top: 150px;


}