h1 {
    position: absolute;
    width: 596px;
    height: 50px;
    left: 75px;
    top: 20px;
 
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
 
 } 
 
 h2 {
    position: absolute;
    width: 1280px;
    height: 150px;
    left: 80px;
    top: 3px;
 
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 35px;
    line-height: 73px;
    display: flex;
    align-items: flex-end;
    text-align: right;
 } 
 
 img {
     position: absolute;
     width: 300px;
     height: 400px;
     left: 50px;
     top: 200px;
 } 
 .button1{
        position: absolute;
        width: 250px;
        height: 70px;
        left: 370px;
        top: 250px;
        background-color: #FD912E;
} 
 .button2 {
         position: absolute;
         width: 250px;
         height: 70px;
         left: 370px;
         top: 350px;
         background-color: #FD912E;
 }
 .button3 {
         position: absolute;
         width: 250px;
         height: 70px;
         left: 370px;
         top: 450px;
         background-color: #FD912E;
 } 


 
 
 