<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title> Document </title>

</head>  
<body>
    <div id="app">
        <input type="checkbox" id="checkbox" v-model="checked" />
        <label for = "checkbox" >{{checked}}</label>
        <div></div>
        <input type="checkbox" id="anvisha" v-model="checkedNames" />
        <label for = "anvisha" >Anvisha</label>
        <input type="checkbox" id="anjali" v-model="checkedNames" />
        <label for = "anjali" >Anjali</label>
        <input type="checkbox" id="arun" v-model="checkedNames" />
        <label for = "arun" >Arun</label>
        <br />
        <span>Checked names: {{checkedNames}}</span>
    </div>
        
</body>  
</html>
<script>

    var app=new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            checked: false,
            checkedNames: [],
        },
    });
</script>